*{    
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
}

body{
    background-color: rgba(4, 4, 4, 0.97);
    color: white; 
    overflow-x: hidden;
}

header{
    background-image: url(Image/my_img.png);
    height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    
}

.container{
    padding: 10px 10% ;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Nav-bar image */
nav img{
    transition: transform .2s;
}
nav img:hover{
    transform: scale(1.05);
}

nav ul{
    
    position: sticky;
}
/* Nav-Ber list*/
nav ul li{
    display: inline-block ;
    list-style: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 20px;
    transition: transform 0.1s;
}

nav ul li:hover{
    transform: scale(1.1);
}


nav ul li a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 10px 1px black;
    font-size: 18px;
    font-weight: bold;
}
nav ul li a:hover{
    color:  #f33cb6eb;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}


.Hero_section{
    margin-top: 10%;
    font-size: 30px;
}
.Hero_section h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.Hero_section strong{
    color: #f33c3ceb;
}

.Hero_section p i {
    font-size: 25px;
}

/* About Me */

#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: auto;
    justify-content: space-between;
    height: 100vh;
    background-color: #34343478;
}
.colum1{
    margin-top: 20px;
  
}
.colum1 img{
    display: grid;
   width: 90%;
   transition: transform 0.4s;
}
.colum1 img:hover{
    transform: scale(1.05);
}

.colum2{
    margin-top: 20px;
    padding: 30px;
    text-align: center;
 
}

.colum2 h1{
    text-shadow: 0px 0px 10px 12px #ffffff;
    font-size: 40px;
    margin-top: 20%;
    margin-bottom: 20px;
    transition: transform 1s;
}
.colum2 h1:hover{
    text-shadow: 0px 0px 10px 12px #ffffff;
    color: #ff0000;
    transform: scale(1.1);
}
.colum2 h1::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 15px;
    bottom: 0px;
    transition: 0.5s;
}
.colum2 h1:hover::after{
    width: 95%;
}

.colum2 p{
    font-size: 25px;
}

/* Project */
.project{
    background-color: black;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 60px;
    padding: 60px;
    
}
.project_card{
    box-shadow: 0px 0px 15px 5px gray;
    border-radius: 30px;
    transition: transform 0.5s;
    display: grid;
    grid-template-rows: 1fr;
    height: 90%;
}

.project_card:hover{
    transform: scale(1.1);
}

.card_head{
    border-radius: 23px 23px 23px 23px ;
    background-size: cover;
    align-items: center;
    text-align: center;
}


.background{
    background-color: gray;
    padding: 10px;
    opacity: 80%;
    margin-top: 160%;
    border-radius: 0px 0px 24px 24px;
   
}
.background a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

#card_1{
    background-image: url(Image/Web.png);
}

#card_2{
    background-image: url(Image/python.png);
}

#card_3{
    background-image: url(Image/Java.png);
}

#card_4{
    background-image: url(Image/GitHub.png);
}


/* Contact ME */

.contact_container{
    height: 80vh;
    margin: 50px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.contact_card{
    width: 150px;
    height: 150px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 1px white;
    border-radius: 50%;
    transition: transform 0.5s;

    text-align: center;
    bottom: 0;
}

.contact_card:hover{
transform: scale(1.1);
border: solid 2px rgb(191, 7, 130);
box-shadow: 0px 0px 10px 1px rgb(191, 7, 130);
}